body {
    font-size: 17px;
    line-height: 1.4705882353;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: #fff;
    color: #1d1d1f;
    font-style: normal;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


#topmost{
    background: #fbfbfd;
    backdrop-filter: saturate(180%) blur(20px);
    padding: 8px 0;
    text-align: center;
    height: 100px;
    z-index: 9987;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.icon{
    position: relative;
    height: 100%;
    z-index: 1;
}
.icon-item{
    
        margin: 0 var(--chapternav-paddle-width);
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        list-style: none;
        padding-bottom: 50px;
    }
    .iconname{
        animation: topmost-slidein 350ms backwards;
        display: inline-block;
        vertical-align: top;
        margin: 0 -0.1176470588em;
        padding: 0 20px;
        white-space: nowrap;
    }
    .topmost-link{
        color: #1d1d1f;
    display: block;
    padding: 0;
    margin-top: 3px;
    position: relative;
    z-index: 1;
    text-decoration: none;
    }
    .chapternav-icon{
        background-size: 40px 54px;
        background-repeat: no-repeat;
        width: 40px;
    display: block;
    margin: 0 auto 7px;
    height: 54px;
    }
    #iph14-pro{
        background-image: url("https://www.apple.com/v/iphone/home/bk/images/chapternav/iphone_14_pro_light__dfhcc00ur2oi_large.svg");
    }
    #iph14{
        background-image: url("https://www.apple.com/v/iphone/home/bk/images/chapternav/iphone_14_light__fwknsxkf80uq_large.svg");
    }
    #iph13{
        background-image: url("https://www.apple.com/v/iphone/home/bk/images/chapternav/iphone_13_light__ewo3e0sf67o2_large.svg");
    }
    #iphSE{
        background-image: url("https://www.apple.com/v/iphone/home/bk/images/chapternav/iphone_se_light__fhg8duy6ffau_large.svg");
    }
    #iph12{
        background-image: url("https://www.apple.com/v/iphone/home/bk/images/chapternav/iphone_12_light__cxh2ll1zwpw2_large.svg");
    }
    #compare{
        background-image: url("https://www.apple.com/v/iphone/home/bk/images/chapternav/iphone_compare_light__f4jj7brpbvm2_large.svg");
    }
    #airpods{
        background-image: url("https://www.apple.com/v/iphone/home/bk/images/chapternav/airpods_light__8oj157p2476a_large.svg");
    }
    #airTag{
        background-image: url("https://www.apple.com/v/iphone/home/bk/images/chapternav/airtag_light__cb2bmnv6aoeu_large.svg");
    }
    #accessories{
        background-image: url("https://www.apple.com/v/iphone/home/bk/images/chapternav/accessories_light__ed5l6ipsevqu_large.svg");
    }
    #apple-card{
        background-image: url("https://www.apple.com/v/iphone/home/bk/images/chapternav/iphone_apple_card_light__dtut839e76c2_large.svg");
    }
    #ios16{
        background-image: url("https://www.apple.com/v/iphone/home/bk/images/chapternav/iphone_ios_light__b8s4ws8o77iq_large.svg");
    }
    #shop-iph{
        background-image: url("https://www.apple.com/v/iphone/home/bk/images/chapternav/shop_iphone_light__b2toggskllle_large.svg");
    }
    .topmost-new{
        font-size: 10px;
    letter-spacing: -0.008em;
    color: #bf4800;
    position: relative;
    top: 100%;
    left: 0;
    width: 100%;
    }

    #toptext-part{
        margin-top: 25px;
    }
    .top-text{
        margin-top: 15px;
        text-align: center;
    }
    .top-para{
        font-size: 14px;
        letter-spacing: 2.66;
        line-height: 1.33;
    }
    .learn{
        text-align: center;
        font-size: 14px;
    }
    .learn-class{
    text-decoration: none;
    }
    section{
        overflow: hidden;
        display: block;
    }
    .section-div{
        background-color:black;
    }
    .section-div2{
        padding-top: 140px;
        margin-bottom: 10px;
        color: #f5f5f7;
        max-width: 100%;
    }
    .section-div3{
        align-items: center;
        display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    color: #f5f5f7;
    }
    .section-div4{
        margin-bottom: 49px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: #f5f5f7;
    }
    .h2-div{
        color: #f5f5f7;
        font-weight: 600;
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        
    }
    .visuallyhidden{
        position: absolute;
    clip: rect(1px,1px,1px,1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    /* overflow: hidden; */
    height: 1px;
    width: 1px;
    
    }
    .hero-eyebrow{
        margin-top: 8px;
    }
    /* .hero-eyebrow-image{
        margin-top: 9px;

    } */
    
 .hero-eyebrow-image {
    margin-top: 9px;
    width: 109px;
    height: 17px;
    background-size: 109px 17px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/iphone/home/bk/images/overview/hero/iphone_14_pro_logo__flcqzqhzkiaa_medium.jpg");
    position: relative;
    text-align: center;
    font-size: 19px;
    line-height: 1.2105263158;
    font-weight: 600;
    letter-spacing: .012em;
    left: 50%;
    margin-left: -54.5px;
 }
 .hero-beyond{
    margin-top: 12px;
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
   
    background-image: linear-gradient(180deg,#ffb6ff,#b344ff);
    will-change: transform;
    padding-top: 0.5px;
    /* overflow: hidden; */
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    text-align: center; 
}
.copy-spacing{
    margin-top: 12px;
    max-width: 230px;
    text-align: center;  
}
.sosumi-link-follows,.footnote {
    display: inline;
}
sup.footnote-number {
    top: auto;
}
.footnote-number {
    position: relative;
    vertical-align: initial;
    font-feature-settings: "numr";
    font-size: 1em;
}
.footnote a {
    
    text-decoration: none;
}
.buy-btn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-btn-li{
    
    margin: 0 14px;
    list-style: none;
    text-decoration: none;
}
.button{
    background: #0071e3;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    min-width: 28px;
    padding: 8px 16px;
    border-radius: 980px;
}
.icon-learnmore{
    color: #2997ff;
    text-decoration: none;
}
.icon-after-more{
    display: inline;
    position: static;
}
.bg1{
    width: 100%;
}
.bg1-image{
    left: 50%;
    margin-left: -210.5px;
    width: 500px;
    height: 370px;
    background-size: 500px 370px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/iphone/home/bk/images/overview/hero/iphone_14_pro_hero__e4ivycyx40k2_medium.jpg");
    position: relative;
}
.mid{
    text-align: center;
    padding-top: 70px;
    margin-bottom: 10px;
    background-color: #fff;
    max-width: 100%;
}
#h2div{
    color: #6e6e73;
    font-size: 14px;
}
#hdiv{
    color: #6e6e73;
    font-size: 14px;
}
#visuallyhid{
   
    background-image: url("https://www.apple.com/v/iphone/home/bk/images/overview/hero/iphone_14_logo__ba98feioouf6_large.jpg");
    background-repeat: no-repeat;
}
#midline{
    color: #1d1d1f;
}
#big{
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg,#2ca2b4,#5598de 24%,#7f87ff 45%,#f65aad 76%,#ec3d43);
    will-change: transform;
    padding-top: 0.5px;
    overflow: hidden;
    background-color: #2ca2b4 0%;
    margin-top: 14px;
}
#bg2-image{
    background-image: url("https://www.apple.com/v/iphone/home/bk/images/overview/hero/iphone_14_hero__ceub5xriecgi_large.jpg");
    width: 788px;
    height: 717px;
    background-size: 788px 717px;
    background-repeat: no-repeat;
    position: relative;
    left: 50%;
    margin-left: -374px;
}
.bg3{
    text-align: center;
    background-color: #fbfbfd;
    max-width: 100%;
}
.bg3-row{
    width: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.bg3-row1{
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    margin-left: 8.3333333333%;
    text-align: center;
}
.vibrator{
    white-space: nowrap;
    display: block;
    color: #bf4800;
    text-align: center;
}
#newp{
    background-image: url("https://www.apple.com/v/iphone/home/bk/images/overview/hero/iphone_se_logo__ii1n5sjcmci2_large.jpg");
    width: 96px;
    height: 22px;
    background-size: 96px 22px;
    background-repeat: no-repeat;
    position: relative;
    left: 50%;
    margin-left: -48px;
}
.highlighted{
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg,#1e3791 0%,#2948b1 40%,#3153c6 55%,#385fda 60%);
    color: transparent;
    margin-top: 18px;
    font-size: 48px;
    line-height: 1.0834933333;
    font-weight: 600;
    letter-spacing: -0.003em;
}
.bg4{
    background-color: #fbfbfd;
    flex-basis: 50%;
    max-width: 50%;
}
.bg4-image{
    width: 494px;
    height: 830px;
    background-size: 494px 830px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/iphone/home/bk/images/overview/hero/iphone_se_hero__gd586pazxqqa_large.jpg");
}
#span1{
    display: inline;
    text-align: center;
    margin-left: 60px;
}
.sc{
    background: #fff;
    overflow: hidden;
    display: block;
}
.bg5{
    margin-top: 10px;
    margin-bottom: 28px;
    padding: 0 10px;
    text-align: center;
    width: auto;
    flex-wrap: wrap;
    overflow: hidden;
    max-width: 1440px;
    margin: 15px auto 9px;
    display: flex;
    flex-direction: row;
}
.bg5-im{
    border-radius:35px;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    color: #fff;
    background-position: bottom;
    overflow: hidden;
    flex-basis: 100%;
    max-width: 100%;
    text-align: center;
}
.bg5-imag{
    overflow: hidden;
    color: #fff;
    
}
.bh5-image{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    color: #fff;
    text-align: center;
}
.bg5-image1{
    display: flex;
    flex-basis: 100%;
    max-width: 100%;
}
.bg5-fullimg{
    width: 1412px;
    height: 814px;
    background-size: 1412px 814px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url("https://www.apple.com/v/iphone/home/bk/images/overview/subhero/guided_tour__c40f88on9o8y_medium.jpg");
}
.bg5-text{
    position: absolute;
    top: 0;
    z-index: 2;
    height: 100%;
    flex-basis: 100%;
    max-width: 100%;
    color: #fff;
}
.bg5-text1{
    text-align: left;
    padding-top: 302px;
    padding-left: 218px;
}
.h2text{
    font-weight: 600;
    color: #1d1d1f;
}
.span2{
    display: block;
    color: #fff;
    font-size: 24px;
    line-height: 1.1666666667;
    font-weight: 600;
    letter-spacing: .009em;
    max-width: 100%;
    text-align: left;
}
.span3{
    margin-top: 10px;
    display: block;
    color: #fff;
    font-size: 48px;
    line-height: 1.0834933333;
    font-weight: 600;
    letter-spacing: -0.003em;
    max-width: 100%;
    text-align: left
}
.h2text5{
    margin-top: 21px;
}
.icon-wrapper-film-link{
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    min-width: 28px;
    padding: 8px 16px;
    border-radius: 980px;
    background: #0071e3;
    color: #fff;
    background: #fff;
    color: #000;
    text-decoration: none;
}
.icon-copy{
    text-align: center;
    white-space: nowrap;
    background: #fff;
    color: #000;
    text-decoration: none;
}
.sect{
    padding-top: 63px;
    padding-bottom: 94px;
    background-color: #fff;
    padding-top: 116px;
    padding-bottom: 119px;
    position: relative;
    z-index: 1;
    text-align: center;
}
.sect-content{
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}
.title-headl{
    font-size: 48px;
    line-height: 1.0834933333;
    font-weight: 600;
    letter-spacing: -0.003em;
}
.grid{
    max-width: 940px;
    margin-top: 68px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(10,auto);
    grid-row-gap: 40px;
    grid-column-gap: 34px;
}
.iphone-14-pro-device{
    padding-bottom: 35px;
    border-bottom: 1px solid #d2d2d7;
}
.key-features-item-control{
    display: block;
}
.image-wrapper{
    min-height: 257px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin-bottom: 22px;
}
.image-14pro{
    width: 190px;
    height: 257px;
    background-size: 190px 257px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/iphone/home/bk/images/overview/compare/compare_iphone_14_pro__cjmfbiggqhpy_large.jpg");
}
.swatch-wrapper{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin-bottom: 35px;
}





 


